Repository Andrews-McMeel-Universal/reusable_workflows, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, front-end, back-end, tools, tests, devops

Update Reusable workflow integration in README
  README.md
Labels: documentation, front-end, back-end

Add exception handling in azfunction deploy
  .github/workflows/azfunction-deploy.yaml
Labels: front-end, back-end, devops

Add env name to azfunction deploy job
  .github/workflows/azfunction-deploy.yaml
Labels: front-end, back-end, devops

🔄 Synchronize with @Andrews-McMeel-Universal/.github
  .gitignore
Labels: front-end, back-end, devops

🔄 Sync with @Andrews-McMeel-Universal/.github (#40)
  .gitignore
Labels: front-end, back-end, devops

Update get-envs action in dotnet-ci
  .github/workflows/dotnet-ci.yaml
Labels: front-end, back-end, devops

SImplify Ruby CI
  .github/workflows/ruby-ci.yaml
Labels: front-end, back-end, devops

[DEVOPS-XXX] Simplify Ruby CI (#41)
  .github/workflows/ruby-ci.yaml
Labels: front-end, back-end, devops

make key vault optional in B2C workflow
  .github/workflows/b2c-build-and-deploy.yaml
Labels: front-end, back-end, devops

adding quotes around CloudGameConfigs args
  .github/workflows/update-game-config.yaml
Labels: front-end, back-end, devops

Fixing Game Config Deploy Workflow (#42)
  .github/workflows/update-game-config.yaml
Labels: front-end, back-end, devops

Set working directory in Docker-CI
  .github/workflows/docker-ci.yaml
Labels: front-end, back-end, devops

Revert "Set working directory in Docker-CI"
  .github/workflows/docker-ci.yaml
Labels: front-end, back-end, devops

Remove vol option in docker-run-action step
  .github/workflows/docker-ci.yaml
Labels: front-end, back-end, devops

[PUZSOC-5543] Fix Hex 10 Application CI tests failing (#43)
  .github/workflows/docker-ci.yaml
Labels: front-end, back-end, devops

Switch to cache-next-install action
  .github/workflows/next-ci.yaml
Labels: front-end, back-end, devops

switch to cache-next-build github action
  .github/workflows/next-ci.yaml
Labels: front-end, back-end, devops

[DEVOPS-210] switch to next install/build composite actions (#44)
  .github/workflows/next-ci.yaml
Labels: front-end, back-end, devops

Add product Id input and fix upload policy step
  .github/workflows/b2c-build-and-deploy.yaml
Labels: front-end, back-end, devops

Simplify environment name variable in build job
  .github/workflows/b2c-build-and-deploy.yaml
Labels: front-end, back-end, devops

Fixing product name inputs in B2C deploy
  .github/workflows/b2c-build-and-deploy.yaml
Labels: front-end, back-end, devops

Revert back to v5.3 of deploy B2C policy action
  .github/workflows/b2c-build-and-deploy.yaml
Labels: front-end, back-end, devops

Switch to using AMU policy upload action
  .github/workflows/b2c-build-and-deploy.yaml
Labels: front-end, back-end, devops

Set verbose flag on deploy to true if debugging
  .github/workflows/b2c-build-and-deploy.yaml
Labels: front-end, back-end, devops

Just set verbose to true on B2C upload policy
  .github/workflows/b2c-build-and-deploy.yaml
Labels: front-end, back-end, devops

Update verbose option in deploy policy action
  .github/workflows/b2c-build-and-deploy.yaml
Labels: front-end, back-end, devops

Updated B2C yarn bulid policies command
  .github/workflows/b2c-build-and-deploy.yaml
Labels: front-end, back-end, devops

Update dir paths
  .github/workflows/b2c-build-and-deploy.yaml
Labels: front-end, back-end, devops

Switch back to b2c deploy policy action
  .github/workflows/b2c-build-and-deploy.yaml
Labels: front-end, back-end, devops

Updated B2C instructions in README
  README.md
Labels: documentation, front-end, back-end

[DEVOPS-XXX] Resolve B2C deploy issues (#45)
  .github/workflows/b2c-build-and-deploy.yaml
  README.md
Labels: documentation, front-end, back-end, devops

Switch to AMU action
  .github/workflows/b2c-build-and-deploy.yaml
Labels: front-end, back-end, devops

Use testing branch
  .github/workflows/b2c-build-and-deploy.yaml
Labels: front-end, back-end, devops

Add tenantId input
  .github/workflows/b2c-build-and-deploy.yaml
Labels: front-end, back-end, devops

Add other impersonation B2C policy to upload
  .github/workflows/b2c-build-and-deploy.yaml
Labels: front-end, back-end, devops

Add Clear redis cache workflow
  .github/workflows/clear-azure-redis-cache.yaml
Labels: front-end, back-end, devops

Added resourceGroupName input
  .github/workflows/clear-azure-redis-cache.yaml
Labels: front-end, back-end, devops

Fix resourceGroupName input usage
  .github/workflows/clear-azure-redis-cache.yaml
Labels: front-end, back-end, devops

Add step to install redis-tools apt package
  .github/workflows/clear-azure-redis-cache.yaml
Labels: front-end, back-end, devops

Switching over to new cache-azure-login action
  .github/workflows/aks-deploy.yaml
  .github/workflows/azfunction-deploy.yaml
  .github/workflows/b2c-build-and-deploy.yaml
  .github/workflows/purge-cdn.yaml
  .github/workflows/update-azureapimanagement.yaml
  .github/workflows/update-game-config.yaml
Labels: front-end, back-end, devops

.github/labeler.yml:

dependencies:
  - yarn.lock
  - package.json
  - "**/package-lock.json"
  - Gemfile.lock
  - Gemfile
  - ".ruby-version"
  - "**/*.csproj"
  - "**/pnpm-lock.yaml"

documentation:
  - "**/*.md"

front-end:
  - "**/*.js"
  - "**/*.js.html"
  - "**/*.json"
  - "**/*.jsx"
  - "**/*.ts"
  - "**/*.tsx"
  - "**/*.html"
  - "**/*.css"
  - "**/*.less"
  - "**/*.scss"
  - "**/*.sass"
  - "**/*.otf"
  - "**/*.eot"
  - "**/*.ttf"
  - "**/*.woff*"
  - "**/*.svg"
  - "**/*.jpg"
  - "**/*.jpeg"
  - "**/*.gif"
  - "**/*.png"
  - "**/*.ico"
  - "public/**"
  - "src/**"
  - .storybook/**
  - package.json
  - wp-content/
  - "!**/Secrets.json*"
  - "!/.vscode"
  - "!**/*.test.js"
  - "!.github/**"

back-end:
  - "**/*.cs"
  - "**/*.csproj"
  - "**/*.sln"
  - "**/**.json"
  - "bin/"
  - "**/*.rb"
  - "Rakefile"
  - "**/*.yml"
  - "**/*.ru"
  - "!**/Secrets.json*"
  - "!.github/**"

tools:
  - "/.vscode"
  - "/.devcontainer"

tests:
  - "playwright/**"
  - "cypress/**"
  - "**/.spec.*"
  - "**/*.test.js"
  - ".github/workflows/workflow-linter.yaml"
  - ".github/actionlint.yaml"

devops:
  - ".github/**"
  - "deployments/**"
  - "*.ps1"
  - "Secrets.json*"
  - "docker-compose.yml"
  - "Dockerfile"
  - ".*ignore"
