Repository Andrews-McMeel-Universal/reusable_workflows, pull requests merged in 2023-10, with the labels that each got.

#59 [DEVOPS-270] Improve run times by switching to bash scripts
  .github/workflows/aks-deploy.yaml
Labels: story, devops, front-end, back-end

#60 [DEVOPS-272] Switch back to default Azure login action to avoid caching issues
  .github/workflows/aks-deploy.yaml
  .github/workflows/azfunction-deploy.yaml
  .github/workflows/b2c-build-and-deploy.yaml
  .github/workflows/clear-azure-redis-cache.yaml
  .github/workflows/next-ci.yaml
  .github/workflows/purge-cdn.yaml
  .github/workflows/ruby-ci.yaml
  .github/workflows/ui-ci.yaml
  .github/workflows/update-azureapimanagement.yaml
  .github/workflows/update-game-config.yaml
Labels: story, devops, front-end, back-end

#62 [DEVOPS-280] Upgrade prettier action
  .github/workflows/simple-lint.yaml
Labels: devops, front-end, back-end

#63 [DEVOPS-280] Add runYarnInstall input to Simple Lint workflow
  .github/workflows/simple-lint.yaml
Labels: bug, devops, front-end, back-end

#64 [DEVOPS-263] Add steps to rebuild Next.js apps with updated variables
  .github/workflows/ephemeral-deploy.yaml
Labels: story, devops, front-end, back-end

#58 🔄 Sync with @Andrews-McMeel-Universal/.github
  .github/PULL_REQUEST_TEMPLATE.md
  .github/release.yml
  .gitignore
  .prettierignore
Labels: maintenance, devops, front-end, back-end

#66 [DEVOPS-279] Changed autoApprove and autoMerge inputs to arrays
  .github/workflows/dependabot-automations.yaml
Labels: story, devops, front-end, back-end

#67 [DEVOPS-287] Add B2C Application CI workflow
  .github/workflows/b2c-ci.yaml
Labels: devops, front-end, back-end

#68 [DEVOPS-269] Check if Jira Linter has already posted a missing Jira issue key comment before running
  .github/workflows/jira-lint.yaml
Labels: devops, front-end, back-end, Improvement

#69 [DEVOPS-269] Lint PR for Jira issue key before Jira linter
  .github/workflows/jira-lint.yaml
Labels: devops, front-end, back-end, Improvement

#70 [DEVOPS-298] Fix Jira Linter regex match failures
  .github/workflows/ephemeral-deploy.yaml
  .github/workflows/jira-lint.yaml
Labels: bug, devops, front-end, back-end

#71 [DEVOPS-284] Add support for deploying to default Kubernetes namespace
  .github/workflows/aks-deploy.yaml
Labels: story, devops, front-end, back-end

#72 [PUZSOC-5920] Use yarn build in B2C policies
  .github/workflows/b2c-build-and-deploy.yaml
  .github/workflows/b2c-ci.yaml
Labels: maintenance, devops, front-end, back-end, Puzzle Society 2.0

#73 [DEVOPS-294] Add enableNginxIngressLogging input to AKS deploy workflow
  .github/workflows/aks-deploy.yaml
Labels: devops, front-end, back-end

#74 [DEVOPS-XXX] Set timeout on deploy steps in Ephemeral Deployment workflow
  .github/workflows/ephemeral-deploy.yaml
Labels: devops, front-end, back-end

#75 Moved Next.js steps to update-next-deploy job in Ephemeral Deployment workflow
  .github/workflows/ephemeral-deploy.yaml
Labels: devops, front-end, back-end

#77 [DEVOPS-291] Add Publish Nuget Package workflow
  .github/workflows/publish-nuget-package.yaml
Labels: story, devops, front-end, back-end

#78 [DEVOPS-301] Link ephemeral deployment URL in Jira ticket after successful deployment
  .github/workflows/ephemeral-deploy.yaml
Labels: story, devops, front-end, back-end

#76 [DEVOPS-291] Add Bump Nuget Version reusable workflow
  .github/workflows/bump-nuget-version.yaml
Labels: story, devops, front-end, back-end

#79 [DEVOPS-XXX] Add option to set working-directory in Dotnet CI workflow
  .github/workflows/dotnet-ci.yaml
Labels: devops, front-end, back-end
