Repository Andrews-McMeel-Universal/reusable_workflows, pull requests merged in 2023-08, with the labels that each got.

#46 [DEVOPS-242] add clear redis caches workflow
  .github/workflows/clear-azure-redis-cache.yaml
Labels: story, devops, front-end, back-end

#49 [DEVOPS-XXX] Switch to major release tags for GitHub Actions
  .github/workflows/aks-deploy.yaml
  .github/workflows/dependabot-automations.yaml
  .github/workflows/mega-lint.yaml
  .github/workflows/purge-cdn.yaml
  .github/workflows/template-sync.yml
  .github/workflows/update-addns.yaml
  .github/workflows/update-azureapimanagement.yaml
  .github/workflows/wpe-deploy.yaml
Labels: devops, front-end, back-end

#48 🔄 Sync with @Andrews-McMeel-Universal/.github
  .github/release.yml
  .github/workflows/template-sync.yml
  .gitignore
  .prettierignore
Labels: maintenance, devops, front-end, back-end

#47 [DEVOPS-XXX] Switching over to new cache-azure-login action
  .github/workflows/aks-deploy.yaml
  .github/workflows/azfunction-deploy.yaml
  .github/workflows/b2c-build-and-deploy.yaml
  .github/workflows/dotnet-ci.yaml
  .github/workflows/next-ci.yaml
  .github/workflows/purge-cdn.yaml
  .github/workflows/ruby-ci.yaml
  .github/workflows/update-azureapimanagement.yaml
  .github/workflows/update-game-config.yaml
Labels: devops, front-end, back-end

#52 [DEVOPS-236] Use release in Docker image registry image tag
  .github/workflows/aks-deploy.yaml
Labels: bug, devops, front-end, back-end

#54 [DEVOPS-XXX] Use new v6 version of deploy B2C policy action
  .github/workflows/b2c-build-and-deploy.yaml
Labels: devops, front-end, back-end
