Repository Andrews-McMeel-Universal/reusable_workflows, pull requests merged in 2023-11, with the labels that each got.

#81 🔄 Sync with @Andrews-McMeel-Universal/.github
  .github/workflows/template-sync.yml
  .gitignore
Labels: maintenance, devops, front-end, back-end

#80 [DEVOPS-XXX] Add support multiple Nuget project libraries in Publish Nuget Package workflow
  .github/workflows/bump-nuget-version.yaml
  .github/workflows/publish-nuget-package.yaml
Labels: devops, front-end, back-end

#82 [DEVOPS-304] Determine ephemeral deployment environment key vault to use based off PR description
  .github/workflows/ephemeral-deploy.yaml
Labels: story, devops, front-end, back-end

#83 [DEVOPS-303] Add ephemeral deployment environment details when posting link in Jira comment
  .github/workflows/ephemeral-deploy.yaml
Labels: story, devops, front-end, back-end

#85 [DEVOPS-309] Switch to Docker buildx commands to fix failing builds
  .github/workflows/aks-deploy.yaml
  .github/workflows/ephemeral-deploy.yaml
Labels: story, devops, front-end, back-end

#84 [DEVOPS-306] Use new `setBuildArguments` input in get-envs action
  .github/workflows/aks-deploy.yaml
  .github/workflows/ephemeral-deploy.yaml
Labels: story, devops, front-end, back-end

#86 [DEVOPS-309] Fix docker buildx errors
  .github/workflows/aks-deploy.yaml
  .github/workflows/ephemeral-deploy.yaml
Labels: bug, devops, front-end, back-end

#87 [DEVOPS-309] Fixing Docker build commands
  .github/workflows/aks-deploy.yaml
  .github/workflows/ephemeral-deploy.yaml
Labels: bug, devops, front-end, back-end

#89 [DEVOPS-310] Enable prettier
  .github/CODEOWNERS
  .github/labeler.yml
  README.md
Labels: documentation, story, front-end

#91 [PUZSOC-6049] Combine get-envs steps after adding additional support for buildArgs
  .github/workflows/aks-deploy.yaml
  .github/workflows/ephemeral-deploy.yaml
Labels: bug, front-end, Puzzle Society 2.0
