Repository Andrews-McMeel-Universal/reusable_workflows, pull requests merged in 2023-04, with the labels that each got.

#32 [DEVOPS] set up template syncing
  .gitattributes
  .github/.templatesyncignore
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/codeowners-validation.yaml
  .github/workflows/jira-lint.yaml
  .github/workflows/mega-lint.yaml
  .github/workflows/pr-clean-caches.yaml
  .github/workflows/pr-labels.yaml
  .github/workflows/simple-lint.yaml
  .github/workflows/template-sync.yaml
  .gitignore
  .prettierignore
  README.md
Labels: documentation, pr-checks, linters, devops

#33 [GOCOMICS-1224] add reusable azure function deploy
  .github/workflows/azfunction-deploy.yaml
  README.md
Labels: documentation, story, GoComics 6.0, devops

#35 🔄 Sync with @Andrews-McMeel-Universal/.github
  .github/.templatesyncignore
  .github/workflows/azfunction-deploy.yaml
  .github/workflows/b2c-build-and-deploy.yaml
  .github/workflows/pr-clean-caches.yaml
  .gitignore
Labels: maintenance, pr-checks, devops, deployments

#37 [DEVOPS] Set up caching for Azure Credentials
  .github/workflows/aks-deploy.yaml
  .github/workflows/azfunction-deploy.yaml
  .github/workflows/b2c-build-and-deploy.yaml
  .github/workflows/purge-cdn.yaml
  .github/workflows/update-azureapimanagement.yaml
  README.md
Labels: documentation, devops, deployments

#38 [DEVOPS] Simplify aks deploy build and deploy jobs
  .github/workflows/aks-deploy.yaml
Labels: devops, deployments
