Repository Andrews-McMeel-Universal/reusable_workflows, pull requests merged in 2024-10, with the labels that each got.

#154 [DEVOPS-550] Default to DOTNET_VERSION repository variable in AzFunction Deploy Workflow
  .github/workflows/azfunction-deploy.yaml
Labels: bug, devops

#155 [DEVOPS-552] Fix Az.RedisCache PowerShell Package install in Clear Redis Cache workflow
  .github/workflows/clear-azure-redis-cache.yaml
Labels: bug, devops

#153 🔄 Sync with @Andrews-McMeel-Universal/.github
  .gitattributes
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/release-drafter.yml
  .github/workflows/dotnet-ci.yaml
  .gitignore
  .prettierignore
Labels: devops, sync

#156 [DEVOPS-549] Automatically retrieve .NET version rather than defaulting to workflow input
  .github/workflows/azfunction-deploy.yaml
  .github/workflows/dotnet-ci.yaml
Labels: story, devops

#158 [DEVOPS-560] Fix prettier linter not committing changes for changed files
  .github/workflows/simple-lint.yaml
Labels: bug, devops

#157 [DEVOPS-551] Fixing NGINX class ingress annotation deprecation warnings
  .github/workflows/aks-deploy.yaml
Labels: devops, maintenance

#159 [DEVOPS-575] Add `apiSuffix` input to API deploy workflow
  .github/workflows/update-azureapimanagement.yaml
Labels: bug, devops

#160 [DEVOPS-578] Fix "API already exists" errors
  .github/workflows/update-azureapimanagement.yaml
Labels: bug, devops

#161 [DEVOPS-579] Fix API suffix not getting added on by default
  .github/workflows/update-azureapimanagement.yaml
Labels: bug, devops
