Repository Andrews-McMeel-Universal/reusable_workflows, pull requests merged in 2024-04, with the labels that each got.

#116 🔄 Sync with @Andrews-McMeel-Universal/.github
  .github/CONTRIBUTING.md
  .github/dependabot.yml
  .github/release-drafter.yml
  .gitignore
  .prettierignore
  README.md
Labels: documentation, sync, front-end

#117 [DEVOPS-405] Disable Jira linter with 'disable-jira-linter' label
  .github/workflows/jira-lint.yaml
Labels: front-end

#118 [DEVOPS-453] Fix image refs to use GitHub SHAs
  .github/workflows/aks-deploy.yaml
Labels: bug, front-end
